/* Import custom font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Base styles for the body */
body {
    background-color: #f4f4f9; /* Light background color */
    font-family: 'Roboto Mono', monospace; /* Custom font */
    margin: 0;
    padding: 0;
    text-align: center; /* Center the page content */
    color: #f2eded; /* Default text color */
}

/* Styling for header */
header {
    background-color: #70609a; /* Background color */
    padding: 20px;
    color: white; /* Text color */
    border-bottom: 5px solid #000; /* Bottom border */
    background-image: url("https://katherineron23.github.io/weblab/florence%201.jpg"); /* Background image */
    background-size: contain; /* Fit background image */
    text-align: center; /* Center content */
}

/* Navigation styling */
nav {
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black background */
    width: 320px;
    padding: 20px;
    margin: 0 auto; /* Center the nav bar */
}

nav a {
    font-size: 20px; /* Link font size */
    color: chartreuse; /* Link color */
    margin-right: 40px;
    font-family: 'Roboto', system-ui; /* Link font */
    font-weight: 100; /* Font weight */
    font-style: italic; /* Italic style */
    text-decoration: none; /* Remove underline */
}

nav a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: white; /* Change color on hover */
}

/* Main content area */
main {
    background-color: #ffffff; /* Background color */
    width: 80%;
    max-width: 960px;
    margin: 0 auto; /* Center the main content */
    padding: 20px;
    border: 5px dotted violet; /* Border */
    box-shadow: 0 0 10px rgba(191, 6, 233, 0.1); /* Slight shadow */
}

/* Headings styles */
h1, h2, h3 {
    color: #4f44f1; /* Heading color */
}

h1 {
    background-color: rgba(255,255,255,0.75); /* Semi-transparent background */
    font-family: "Arial", sans-serif; /* Font for h1 */
    padding: 10px;
    margin-bottom: 30px;
}

h2 {
    color: pink; /* Heading color */
    text-align: right; /* Align to the right */
    font-family: cursive; /* Cursive font */
    text-shadow: 2px 2px 4px rgba(181, 31, 31, 0.5); /* Text shadow */
}

/* Paragraph styles */
p {
    color: #878181; /* Text color */
    line-height: 30px; /* Line height */
    font-weight: 400;
}

/* List styles */
ul {
    background-color: orange; /* Background color for unordered lists */
}

ul li {
    color: green; /* List item color */
    list-style: none; /* Remove bullets */
    font-size: 18px;
}

ol li {
    font-weight: lighter; /* Lighter weight for ordered list items */
    list-style: lower-roman; /* Roman numeral list style */
}

/* Image
